<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Fullnameservlet</display-name>
    <servlet-name>Fullnameservlet</servlet-name>
    <servlet-class>com.Sathya.adv.Fullnameservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fullnameservlet</servlet-name>
    <url-pattern>/Fullnameservlet</url-pattern>
  </servlet-mapping>
  <display-name>Fullnamedisplay</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeSalaryServlet</display-name>
    <servlet-name>EmployeeSalaryServlet</servlet-name>
    <servlet-class>com.sathya.servlet.EmployeeSalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSalaryServlet</servlet-name>
    <url-pattern>/EmployeeSalaryServlet</url-pattern>
  </servlet-mapping>
</web-app>